@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,700&family=Catamaran&family=Cinzel&family=Homemade+Apple&family=Lobster&family=Metal+Mania&family=Raleway:ital,wght@1,300&family=The+Nautigal&family=Vujahday+Script&display=swap');
*{
  box-sizing: border-box;
}
body {
  background-color: #efedd6;
  font-family:"Roboto" , sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0; 
  overflow-x: hidden;
}

h1{
  margin: 10px;

}

.box:nth-of-type(even){
  transform: translateX(-100%);
}

.box.show{
  transform:translateX(0)
}


.box{
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
  transform: translateX(200px);
  transition: tranform 0.7s ease;
}
.box h2{
  font-size: 45px;
}